<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Redis App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    
    <body>
        <style>
            .del:checked+span{
                color:red;
            }
        </style>
        <h1><%= title %></h1>
        <h3>Add task</h3>
        <form method="post" action="/task/add">
         <input type="text" name="task" placeholder="Add task">
         <input type="submit" value="Submit">  
        </form>

        <form method="post" action="/task/delete">
            <ul style="list-style: none;">
                <% task.forEach(function(task){ %>
                    <li>
                        <label>
                            <input type="checkbox" class="del" name="tasks" value="<%= task %>">
                            <span><%= task %></span> 
                        </label>
                           
                    </li> 
    
                <% }) %>
    
            </ul>
            <input type="submit" value="Remove">
        </form>
        <h3>Current User</h3>
        Name: <%= user.name  %> <br> 
        Email: <%= user.email  %><br>
        Phone No.: <%= user.phone  %><br> 

        <h3>Change User</h3>
        <form method="post" action="/user/add">
            <label>User name</label><br>
            <input type="text" name="name" placeholder="Username"> <br>               
            <label>Email</label><br>
            <input type="text" name="email" placeholder="Email Address"><br>
            <label>Phone no. </label><br>
            <input type="text" name="phone" placeholder="Phone No.">    <br>            
            <input type="submit" value="Submit">  
        </form>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>

</html>